<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar')  %>

<div class="container mt-5">
    <%- include('../partials/flash')  %>
    <div class="row d-flex justify-content-center text-center">        
        <% for(let timesheet of timesheets) { %>
            <div class="col-sm-4">
                <div class="card shadow p-2 mb-5 bg-body rounded">
                    <div class="card-body">
                        <h5 class="card-title fs-4 mb-2"><%=timesheet.month%> <%=timesheet.year%></h5>                    
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="/timesheets/<%=timesheet._id%>" class="mb-1 mt-2 btn btn-primary">View</a>
                            
                        </div>                    
                    </div>
                </div>
            </div>
        <% } %>        
    </div>    
</div>




